<footer class="text-center text-lg-start text-white">
    <section class="d-flex justify-content-between p-4 footersection">
      <div class="me-5">
        <span>Buxie i przyjaciele: </span>
      </div>
      <div>
        <a href="" target="_blank" class="text-white me-2">
          <i class="fab fa-facebook hvr-grow"></i>
        </a>
        <a href="" target="_blank" class="text-white me-2">
          <i class="fab fa-facebook hvr-grow"></i>
        </a>
        <a href="" target="_blank" class="text-white me-2">
          <i class="fab fa-instagram hvr-grow"></i>
        </a>
        <a href="" target="_blank" class="text-white me-2">
          <i class="fab fa-instagram hvr-grow"></i>
        </a>
        <a href="" target="_blank" class="text-white me-2">
          <i class="fab fa-youtube hvr-grow"></i>
        </a>
        <a href="" target="_blank" class="text-white me-2">
          <i class="fab fa-youtube hvr-grow"></i>
        </a>
        <a href="https://twitter.com/xJJx_lolo" target="_blank" class="text-white me-2">
          <i class="fab fa-twitter hvr-grow"></i>
        </a>
        <a href="https://116111.pl/" target="_blank" class="text-white me-2">
          <i class="fa-solid fa-phone hvr-grow"></i>
        </a>
        
        
        

      </div>
    </section>
    <div class="text-center p-3">© 2023 LOLO</div>
  </footer>